USE [master]
GO
/****** Object:  Database [ThreeSixtyTwo]    Script Date: 03/02/2015 07:05:52 ******/
CREATE DATABASE [ThreeSixtyTwo] ON  PRIMARY 
( NAME = N'ThreeSixtyTwo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ThreeSixtyTwo.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThreeSixtyTwo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ThreeSixtyTwo_log.ldf' , SIZE = 11200KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThreeSixtyTwo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThreeSixtyTwo]
GO
/****** Object:  User [tsks71]    Script Date: 03/02/2015 07:05:52 ******/
CREATE USER [tsks71] FOR LOGIN [tsks71] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [solradmin]    Script Date: 03/02/2015 07:05:52 ******/
CREATE USER [solradmin] FOR LOGIN [solradmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [rtks71]    Script Date: 03/02/2015 07:05:52 ******/
CREATE USER [rtks71] FOR LOGIN [rtks71] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Rtks1971]    Script Date: 03/02/2015 07:05:52 ******/
CREATE USER [Rtks1971] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL\ASP.NET v4.0]    Script Date: 03/02/2015 07:05:52 ******/
CREATE USER [IIS APPPOOL\ASP.NET v4.0] FOR LOGIN [IIS APPPOOL\ASP.NET v4.0]
GO
/****** Object:  Schema [search]    Script Date: 03/02/2015 07:05:52 ******/
CREATE SCHEMA [search] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [ecom]    Script Date: 03/02/2015 07:05:52 ******/
CREATE SCHEMA [ecom] AUTHORIZATION [dbo]
GO
/****** Object:  UserDefinedDataType [dbo].[description]    Script Date: 03/02/2015 07:05:52 ******/
CREATE TYPE [dbo].[description] FROM [varchar](max) NOT NULL
GO
/****** Object:  Table [dbo].[AllEmails]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AllEmails](
	[EmailID] [int] IDENTITY(1,1) NOT NULL,
	[ToAddress] [varchar](400) NOT NULL,
	[FromAddress] [varchar](400) NOT NULL,
	[CCAddress] [varchar](400) NULL,
	[BCCAddress] [varchar](400) NULL,
	[EmailSubject] [varchar](100) NOT NULL,
	[EmailBodyText] [varchar](max) NOT NULL,
	[SendDate] [datetime] NOT NULL,
	[EmailStatus] [varchar](10) NULL,
	[Comment] [varchar](300) NULL,
 CONSTRAINT [PK_EmailInvitation] PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmailSubscriptions]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmailSubscriptions](
	[EmailSubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [varchar](100) NOT NULL,
	[Recipient] [varchar](100) NOT NULL,
	[ActivityTypeID] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[country]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[country](
	[country_id] [int] IDENTITY(1,1) NOT NULL,
	[country_name] [varchar](50) NOT NULL,
	[country_abbrev] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[country] ON
INSERT [dbo].[country] ([country_id], [country_name], [country_abbrev]) VALUES (1, N'Afghanistan', N'AF')
INSERT [dbo].[country] ([country_id], [country_name], [country_abbrev]) VALUES (2, N'Albania', N'AL')
INSERT [dbo].[country] ([country_id], [country_name], [country_abbrev]) VALUES (3, N'Algeria', N'DZ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[country] OFF
/****** Object:  Table [dbo].[ContactList]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactList](
	[ContactListID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SenderEmailAddress] [varchar](50) NOT NULL,
	[RecipientUserID] [int] NULL,
	[RecipientEmailAddress] [varchar](50) NOT NULL,
	[RequestAccepted] [int] NULL,
 CONSTRAINT [PK_ContactList] PRIMARY KEY CLUSTERED 
(
	[ContactListID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ContactList] ON
INSERT [dbo].[ContactList] ([ContactListID], [UserID], [SenderEmailAddress], [RecipientUserID], [RecipientEmailAddress], [RequestAccepted]) VALUES (1, 1078, N'kanjasaha@gmail.com', NULL, N'kanjasaha@yahoo.com', NULL)
SET IDENTITY_INSERT [dbo].[ContactList] OFF
/****** Object:  Table [dbo].[Connections]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Connections](
	[UserId] [int] NOT NULL,
	[ContactID] [int] NULL,
	[ContactEmail] [varchar](100) NOT NULL,
	[ContactStrength] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AvailabilityTypes]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AvailabilityTypes](
	[AvaiilabilityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AvailabilityType] [varchar](56) NOT NULL,
	[Descriptions] [varchar](256) NOT NULL,
 CONSTRAINT [PK_AvailabilityTypes] PRIMARY KEY CLUSTERED 
(
	[AvaiilabilityTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AvailabilityTypes] ON
INSERT [dbo].[AvailabilityTypes] ([AvaiilabilityTypeID], [AvailabilityType], [Descriptions]) VALUES (1, N'0', N'On Demand:Takes 5 min to 1 hr to prepare')
INSERT [dbo].[AvailabilityTypes] ([AvaiilabilityTypeID], [AvailabilityType], [Descriptions]) VALUES (2, N'8', N'Minimum 8 hrs')
INSERT [dbo].[AvailabilityTypes] ([AvaiilabilityTypeID], [AvailabilityType], [Descriptions]) VALUES (4, N'12', N'Minimum 12 hrs')
SET IDENTITY_INSERT [dbo].[AvailabilityTypes] OFF
/****** Object:  Table [dbo].[FunOrders]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FunOrders](
	[UserId] [int] NOT NULL,
	[EstimatedPickupTime] [datetime] NOT NULL,
	[ActualPickUpTime] [datetime] NULL,
	[FeedbackOnTime] [int] NULL,
	[GeneralFeedback] [varchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NULL,
	[Status] [int] NOT NULL,
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[PaymentOptionID] [int] NOT NULL,
	[DeliveryMethodID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FunOrders] ON
INSERT [dbo].[FunOrders] ([UserId], [EstimatedPickupTime], [ActualPickUpTime], [FeedbackOnTime], [GeneralFeedback], [DateCreated], [DateUpdated], [Status], [OrderID], [Total], [PaymentOptionID], [DeliveryMethodID]) VALUES (1034, CAST(0x0000A3D4010419F0 AS DateTime), CAST(0x0000A3D4010419F0 AS DateTime), NULL, NULL, CAST(0x0000A3D401046466 AS DateTime), CAST(0x0000A3D401046466 AS DateTime), 0, 1, CAST(76.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[FunOrders] ([UserId], [EstimatedPickupTime], [ActualPickUpTime], [FeedbackOnTime], [GeneralFeedback], [DateCreated], [DateUpdated], [Status], [OrderID], [Total], [PaymentOptionID], [DeliveryMethodID]) VALUES (1034, CAST(0x0000A3D401057980 AS DateTime), CAST(0x0000A3D401057980 AS DateTime), NULL, NULL, CAST(0x0000A3D40105BF5C AS DateTime), CAST(0x0000A3D40105BF5C AS DateTime), 0, 2, CAST(76.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[FunOrders] ([UserId], [EstimatedPickupTime], [ActualPickUpTime], [FeedbackOnTime], [GeneralFeedback], [DateCreated], [DateUpdated], [Status], [OrderID], [Total], [PaymentOptionID], [DeliveryMethodID]) VALUES (1034, CAST(0x0000A3D401099830 AS DateTime), CAST(0x0000A3D401099830 AS DateTime), NULL, NULL, CAST(0x0000A3D4010A07B9 AS DateTime), CAST(0x0000A3D4010A07B9 AS DateTime), 0, 3, CAST(108.00 AS Decimal(18, 2)), 1, 2)
SET IDENTITY_INSERT [dbo].[FunOrders] OFF
/****** Object:  Table [dbo].[LKUPAssociationType]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LKUPAssociationType](
	[AssociationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[AssociationType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AssociationTypeLKUP] PRIMARY KEY CLUSTERED 
(
	[AssociationTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LKUPAssociationType] ON
INSERT [dbo].[LKUPAssociationType] ([AssociationTypeID], [AssociationType]) VALUES (1, N'Direct')
INSERT [dbo].[LKUPAssociationType] ([AssociationTypeID], [AssociationType]) VALUES (2, N'1st degree separation')
INSERT [dbo].[LKUPAssociationType] ([AssociationTypeID], [AssociationType]) VALUES (3, N'2nd degree separation')
SET IDENTITY_INSERT [dbo].[LKUPAssociationType] OFF
/****** Object:  Table [dbo].[LKUPAllergenicFood]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPAllergenicFood](
	[AllergenicFoodID] [int] IDENTITY(1,1) NOT NULL,
	[AllergenicFood] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LKUPAllergenicFood] PRIMARY KEY CLUSTERED 
(
	[AllergenicFoodID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LKUPAllergenicFood] ON
INSERT [dbo].[LKUPAllergenicFood] ([AllergenicFoodID], [AllergenicFood]) VALUES (1, N'Milk')
INSERT [dbo].[LKUPAllergenicFood] ([AllergenicFoodID], [AllergenicFood]) VALUES (2, N'Eggs')
INSERT [dbo].[LKUPAllergenicFood] ([AllergenicFoodID], [AllergenicFood]) VALUES (3, N'Peanuts')
SET IDENTITY_INSERT [dbo].[LKUPAllergenicFood] OFF
/****** Object:  Table [dbo].[LKUPActivityType]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPActivityType](
	[ActivityTypeLKUPID] [int] IDENTITY(1,1) NOT NULL,
	[ActivityType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LKUPActivityType] PRIMARY KEY CLUSTERED 
(
	[ActivityTypeLKUPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LKUPActivityType] ON
INSERT [dbo].[LKUPActivityType] ([ActivityTypeLKUPID], [ActivityType]) VALUES (1, N'UserActivity')
INSERT [dbo].[LKUPActivityType] ([ActivityTypeLKUPID], [ActivityType]) VALUES (2, N'UserClassifiedAds')
INSERT [dbo].[LKUPActivityType] ([ActivityTypeLKUPID], [ActivityType]) VALUES (3, N'NetworkActivity')
SET IDENTITY_INSERT [dbo].[LKUPActivityType] OFF
/****** Object:  Table [dbo].[ip2location_db3_ipv6]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ip2location_db3_ipv6](
	[ip_from] [char](39) NOT NULL,
	[ip_to] [char](39) NOT NULL,
	[country_code] [nvarchar](2) NOT NULL,
	[country_name] [nvarchar](64) NOT NULL,
	[region_name] [nvarchar](128) NOT NULL,
	[city_name] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ip2location_db3_ipv6] ([ip_from], [ip_to], [country_code], [country_name], [region_name], [city_name]) VALUES (N'34617344                               ', N'34618623                               ', N'GB', N'UNITED KINGDOM', N'UNITED KINGDOM', N'UNITED KINGDOM')
/****** Object:  Table [dbo].[LKUPDeliveryMethod]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPDeliveryMethod](
	[DeliveryMethodID] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryMethod] [varchar](50) NOT NULL,
	[Description] [varchar](100) NOT NULL,
 CONSTRAINT [PK_LKUPDeliveryMethod] PRIMARY KEY CLUSTERED 
(
	[DeliveryMethodID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LKUPDeliveryMethod] ON
INSERT [dbo].[LKUPDeliveryMethod] ([DeliveryMethodID], [DeliveryMethod], [Description]) VALUES (2, N'PickUp', N'Pick Up')
INSERT [dbo].[LKUPDeliveryMethod] ([DeliveryMethodID], [DeliveryMethod], [Description]) VALUES (3, N'Drop Off', N'Drop Off')
SET IDENTITY_INSERT [dbo].[LKUPDeliveryMethod] OFF
/****** Object:  Table [dbo].[NotificationFrequency]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotificationFrequency](
	[NotificationFrequencyID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](10) NOT NULL,
 CONSTRAINT [PK_NotificationFrequency] PRIMARY KEY CLUSTERED 
(
	[NotificationFrequencyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationFrequency] ON
INSERT [dbo].[NotificationFrequency] ([NotificationFrequencyID], [Description]) VALUES (1, N'None')
INSERT [dbo].[NotificationFrequency] ([NotificationFrequencyID], [Description]) VALUES (2, N'Immediate')
INSERT [dbo].[NotificationFrequency] ([NotificationFrequencyID], [Description]) VALUES (3, N'Daily')
SET IDENTITY_INSERT [dbo].[NotificationFrequency] OFF
/****** Object:  UserDefinedDataType [dbo].[name]    Script Date: 03/02/2015 07:05:53 ******/
CREATE TYPE [dbo].[name] FROM [varchar](100) NOT NULL
GO
/****** Object:  Table [dbo].[LocationsSearched]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LocationsSearched](
	[SearchID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Location] [varchar](30) NOT NULL,
	[Latitude] [decimal](9, 6) NOT NULL,
	[Longitude] [decimal](9, 6) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Keywords] [varchar](50) NULL,
	[DateRangeStart] [datetime] NULL,
	[DateRangeEnd] [datetime] NULL,
	[Distance] [int] NULL,
	[DistanceUnit] [char](2) NULL,
 CONSTRAINT [PK_LocationsSearched] PRIMARY KEY CLUSTERED 
(
	[SearchID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LocationsSearched] ON
INSERT [dbo].[LocationsSearched] ([SearchID], [UserID], [Location], [Latitude], [Longitude], [DateCreated], [Keywords], [DateRangeStart], [DateRangeEnd], [Distance], [DistanceUnit]) VALUES (164, 1031, N'10547', CAST(41.310850 AS Decimal(9, 6)), CAST(-73.847787 AS Decimal(9, 6)), CAST(0x0000A3A200783EAE AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationsSearched] ([SearchID], [UserID], [Location], [Latitude], [Longitude], [DateCreated], [Keywords], [DateRangeStart], [DateRangeEnd], [Distance], [DistanceUnit]) VALUES (165, 1031, N'10547', CAST(41.310850 AS Decimal(9, 6)), CAST(-73.847787 AS Decimal(9, 6)), CAST(0x0000A3A200783F28 AS DateTime), NULL, CAST(0x0000A3A200000000 AS DateTime), CAST(0x0000A3A300000000 AS DateTime), 400, N'km')
INSERT [dbo].[LocationsSearched] ([SearchID], [UserID], [Location], [Latitude], [Longitude], [DateCreated], [Keywords], [DateRangeStart], [DateRangeEnd], [Distance], [DistanceUnit]) VALUES (166, 1031, N'10547', CAST(41.310850 AS Decimal(9, 6)), CAST(-73.847787 AS Decimal(9, 6)), CAST(0x0000A3A200785B6B AS DateTime), NULL, CAST(0x0000A3A200000000 AS DateTime), CAST(0x0000A3A300000000 AS DateTime), 400, N'km')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[LocationsSearched] OFF
/****** Object:  Table [dbo].[LKUPServingUnit]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPServingUnit](
	[ServingUnitID] [int] IDENTITY(1,1) NOT NULL,
	[ServingUnit] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LKUPServingUnit] PRIMARY KEY CLUSTERED 
(
	[ServingUnitID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LKUPServingUnit] ON
INSERT [dbo].[LKUPServingUnit] ([ServingUnitID], [ServingUnit]) VALUES (1, N'Ounce')
INSERT [dbo].[LKUPServingUnit] ([ServingUnitID], [ServingUnit]) VALUES (2, N'Pieces')
SET IDENTITY_INSERT [dbo].[LKUPServingUnit] OFF
/****** Object:  Table [dbo].[LKUPPrivacySettings]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPPrivacySettings](
	[PrivacySettingsID] [int] NOT NULL,
	[PrivacySettings] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_LKUPPrivacySettings] PRIMARY KEY CLUSTERED 
(
	[PrivacySettingsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LKUPPrivacySettings] ([PrivacySettingsID], [PrivacySettings], [Description]) VALUES (0, N'Private', N'Private.Only User. 0 degree')
INSERT [dbo].[LKUPPrivacySettings] ([PrivacySettingsID], [PrivacySettings], [Description]) VALUES (1, N'Contacts', N'Protected.Only User contacts. 1st  degree connection')
INSERT [dbo].[LKUPPrivacySettings] ([PrivacySettingsID], [PrivacySettings], [Description]) VALUES (2, N'Connections', N'User Contacts and their contacts. 2nd degree connection.')
/****** Object:  Table [dbo].[UserProfile]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
	[FirstName] [varchar](56) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfile] ON
INSERT [dbo].[UserProfile] ([UserId], [UserName], [FirstName]) VALUES (1076, N'funfoodingsellera@gmail.com', N'Kanja')
INSERT [dbo].[UserProfile] ([UserId], [UserName], [FirstName]) VALUES (1078, N'kanjasaha@gmail.com', N'Kanja')
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
/****** Object:  Table [dbo].[UserPaymentOptions]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserPaymentOptions](
	[PaymentOptionID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PaymentType] [varchar](50) NOT NULL,
	[PaymentID] [int] NOT NULL,
 CONSTRAINT [PK_UserPO] PRIMARY KEY CLUSTERED 
(
	[PaymentOptionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 03/02/2015 07:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (1, CAST(0x0000A1540035FFFB AS DateTime), NULL, 1, NULL, 0, N'ACelCa3rqFX0R3je3KvJXbchIEmdGa3DVsQn+JwgervsxwcLB0JcRbkdcFnodJtg/A==', CAST(0x0000A159002164E7 AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (2, CAST(0x0000A15700119CC0 AS DateTime), NULL, 1, NULL, 0, N'AKTao+Qta8EQeN1fOANMRje0Hi5HjjmfpLnOrgmDF1iOWNghnMR6YgT3SAn1cvb0GA==', CAST(0x0000A15700119CC0 AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (3, CAST(0x0000A15B00C00AF2 AS DateTime), NULL, 1, NULL, 0, N'AHfMrwj0pQ+EqP4YGryYQJe8dhsE9fREAsogvtlwJl3cVlpESGKHF+oc0ArBpTwC4A==', CAST(0x0000A15B00C00AF2 AS DateTime), N'', NULL, NULL)
/****** Object:  StoredProcedure [dbo].[uspCreatePassword]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--uspCreatePassword 5,5,5,5


CREATE PROCEDURE [dbo].[uspCreatePassword]
(
	@UpperCaseItems SMALLINT,
	@LowerCaseItems SMALLINT,
	@NumberItems SMALLINT,
	@SpecialItems SMALLINT
)
AS

SET NOCOUNT ON

-- Initialize some variables
DECLARE	@UpperCase VARCHAR(26),
	@LowerCase VARCHAR(26),
	@Numbers VARCHAR(10),
	@Special VARCHAR(13),
	@Temp VARCHAR(8000),
	@Password VARCHAR(8000),
	@i SMALLINT,
	@c VARCHAR(1),
	@v TINYINT 

-- Set the default items in each group of characters
SELECT	@UpperCase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ',
	@LowerCase = 'abcdefghijklmnopqrstuvwxyz',
	@Numbers = '0123456789',
	@Special = '!@#$%&*()_+-=',
	@Temp = '',
	@Password = '' 

-- Enforce some limits on the length of the password
IF @UpperCaseItems > 20
	SET @UpperCaseItems = 20

IF @UpperCaseItems < -20
	SET @UpperCaseItems = -20

IF @LowerCaseItems > 20
	SET @LowerCaseItems = 20

IF @LowerCaseItems < -20
	SET @LowerCaseItems = -20

IF @NumberItems > 20
	SET @NumberItems = 20

IF @NumberItems < -20
	SET @NumberItems = -20

IF @SpecialItems > 20
	SET @SpecialItems = 20

IF @SpecialItems < -20
	SET @SpecialItems = -20

-- Get the Upper Case Items
SET	@i = ABS(@UpperCaseItems) 

WHILE @i > 0 AND LEN(@UpperCase) > 0
	SELECT	@v = ABS(CAST(CAST(NEWID() AS BINARY(16)) AS BIGINT)) % LEN(@UpperCase) + 1,
		@c = SUBSTRING(@UpperCase, @v, 1),
		@UpperCase =	CASE
					WHEN @UpperCaseItems < 0 THEN STUFF(@UpperCase, @v, 1, '') 
					ELSE @UpperCase 
				END,
		@Temp = @Temp + @c,
		@i = @i - 1

-- Get the Lower Case Items
SET	@i = ABS(@LowerCaseItems) 

WHILE @i > 0 AND LEN(@LowerCase) > 0    
	SELECT	@v = ABS(CAST(CAST(NEWID() AS BINARY(16)) AS BIGINT)) % LEN(@LowerCase) + 1,
		@c = SUBSTRING(@LowerCase, @v, 1),
		@LowerCase =	CASE 
					WHEN @LowerCaseItems < 0 THEN STUFF(@LowerCase, @v, 1, '') 
					ELSE @LowerCase 
				END,
		@Temp = @Temp + @c,
		@i = @i - 1 

-- Get the Number Items
SET	@i = ABS(@NumberItems) 

WHILE @i > 0 AND LEN(@Numbers) > 0    
	SELECT	@v = ABS(CAST(CAST(NEWID() AS BINARY(16)) AS BIGINT)) % LEN(@Numbers) + 1,
		@c = SUBSTRING(@Numbers, @v, 1),
		@Numbers =	CASE 
					WHEN @NumberItems < 0 THEN STUFF(@Numbers, @v, 1, '') 
					ELSE @Numbers 
				END,
		@Temp = @Temp + @c,
		@i = @i - 1 

-- Get the Special Items
SET	@i = ABS(@SpecialItems) 

WHILE @i > 0 AND LEN(@Special) > 0    
	SELECT	@v = ABS(CAST(CAST(NEWID() AS BINARY(16)) AS BIGINT)) % LEN(@Special) + 1,
		@c = SUBSTRING(@Special, @v, 1),
		@Special =	CASE 
					WHEN @SpecialItems < 0 THEN STUFF(@Special, @v, 1, '')
					ELSE @Special 
				END,
		@Temp = @Temp + @c,
		@i = @i - 1 

-- Scramble the order of the selected items
WHILE LEN(@Temp) > 0    
	SELECT	@v = ABS(CAST(CAST(NEWID() AS BINARY(16)) AS BIGINT)) % LEN(@Temp) + 1,
		@Password = @Password + SUBSTRING(@Temp, @v, 1),
		@Temp = STUFF(@Temp, @v, 1, '') 

SELECT	@Password
GO
/****** Object:  Table [dbo].[UserAgreementsAcceptanceDetails]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAgreementsAcceptanceDetails](
	[UserAgreementID] [int] IDENTITY(1,1) NOT NULL,
	[AgreementID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[AgreementAccepetedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_UserAgreementsAcceptanceDetails] PRIMARY KEY CLUSTERED 
(
	[UserAgreementID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserAgreementsAcceptanceDetails] ON
INSERT [dbo].[UserAgreementsAcceptanceDetails] ([UserAgreementID], [AgreementID], [UserID], [AgreementAccepetedOn]) VALUES (1, 1, 1072, CAST(0x0000A41E005D86AE AS DateTime))
SET IDENTITY_INSERT [dbo].[UserAgreementsAcceptanceDetails] OFF
/****** Object:  Table [dbo].[UserAgreements]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserAgreements](
	[AgreementID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[AgreementDetails] [varchar](max) NOT NULL,
	[DateOfAgreement] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[UserAgreements] ON
INSERT [dbo].[UserAgreements] ([AgreementID], [Name], [AgreementDetails], [DateOfAgreement]) VALUES (1, N'Seller Agreement', N'Need to Write the deatils', CAST(0x0000A41E005B0A43 AS DateTime))
SET IDENTITY_INSERT [dbo].[UserAgreements] OFF
/****** Object:  Table [dbo].[TempUserOrder]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempUserOrder](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[sessionId] [varchar](50) NOT NULL,
	[MealItemId] [varchar](max) NOT NULL,
	[itemName] [varchar](max) NULL,
	[lineitemcost] [money] NOT NULL,
	[qty] [int] NOT NULL,
	[TotalCost] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TempOrderList]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempOrderList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[sessionId] [varchar](50) NOT NULL,
	[MealItemId] [varchar](max) NOT NULL,
	[itemName] [varchar](max) NULL,
	[lineitemcost] [money] NOT NULL,
	[qty] [int] NOT NULL,
	[TotalCost] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[state]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[state](
	[state_id] [int] IDENTITY(1,1) NOT NULL,
	[state_name] [varchar](50) NOT NULL,
	[state_abbrev] [varchar](2) NOT NULL,
	[countryid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[state_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[state] ON
INSERT [dbo].[state] ([state_id], [state_name], [state_abbrev], [countryid]) VALUES (1, N'Alaska', N'AK', 219)
INSERT [dbo].[state] ([state_id], [state_name], [state_abbrev], [countryid]) VALUES (2, N'Alabama', N'AL', 219)
INSERT [dbo].[state] ([state_id], [state_name], [state_abbrev], [countryid]) VALUES (3, N'American Samoa', N'AS', 219)
SET IDENTITY_INSERT [dbo].[state] OFF
/****** Object:  Table [dbo].[SendText]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SendText](
	[SendTextID] [int] IDENTITY(1,1) NOT NULL,
	[SenderPhone] [varchar](100) NOT NULL,
	[RecipientPhone] [varchar](100) NOT NULL,
	[Message] [varchar](50) NOT NULL,
	[DeliveryTime] [datetime] NOT NULL,
	[DeliveryMethod] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[SendDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SendEmail]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SendEmail](
	[SendEmailID] [int] IDENTITY(1,1) NOT NULL,
	[SenderEmailAddress] [varchar](100) NOT NULL,
	[RecipientEmailAddress] [varchar](100) NOT NULL,
	[Subject] [varchar](50) NOT NULL,
	[Body] [varchar](1000) NOT NULL,
	[DeliveryTime] [datetime] NOT NULL,
	[DeliveryMethod] [varchar](50) NOT NULL,
	[Status] [varchar](50) NULL,
	[SendDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SellerDefaultSetting]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SellerDefaultSetting](
	[SellerSettingID] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[OrderFulfillmentTime] [int] NULL,
	[UnitOfTime] [int] NULL,
	[Delivery] [int] NULL,
	[Shipping] [int] NULL,
	[PickUp] [int] NULL,
	[AcceptCard] [int] NULL,
	[AcceptCashOnDelivery] [int] NULL,
	[HasPermit] [int] NULL,
	[Permit] [int] NULL,
	[PermitImage] [varchar](50) NULL,
 CONSTRAINT [PK_SellerDefaultSetting] PRIMARY KEY CLUSTERED 
(
	[SellerSettingID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentOptions]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentOptions](
	[PaymentOptionID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentOption] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PaymentOptions] PRIMARY KEY CLUSTERED 
(
	[PaymentOptionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentOptions] ON
INSERT [dbo].[PaymentOptions] ([PaymentOptionID], [PaymentOption]) VALUES (1, N'Cash')
SET IDENTITY_INSERT [dbo].[PaymentOptions] OFF
/****** Object:  Table [dbo].[Orders]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[UserId] [int] NOT NULL,
	[EstimatedPickupTime] [datetime] NOT NULL,
	[ActualPickUpTime] [datetime] NULL,
	[FeedbackOnTime] [int] NULL,
	[GeneralFeedback] [varchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NULL,
	[Status] [int] NOT NULL,
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[PaymentOptionID] [int] NOT NULL,
	[DeliveryMethodID] [int] NOT NULL,
 CONSTRAINT [PK_MealOrders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON
INSERT [dbo].[Orders] ([UserId], [EstimatedPickupTime], [ActualPickUpTime], [FeedbackOnTime], [GeneralFeedback], [DateCreated], [DateUpdated], [Status], [OrderID], [Total], [PaymentOptionID], [DeliveryMethodID]) VALUES (1034, CAST(0x0000A3D00077C040 AS DateTime), CAST(0x0000A3D00077C040 AS DateTime), NULL, NULL, CAST(0x0000A3D00078C8B1 AS DateTime), CAST(0x0000A3D00078C8B1 AS DateTime), 0, 3, CAST(0.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Orders] ([UserId], [EstimatedPickupTime], [ActualPickUpTime], [FeedbackOnTime], [GeneralFeedback], [DateCreated], [DateUpdated], [Status], [OrderID], [Total], [PaymentOptionID], [DeliveryMethodID]) VALUES (1034, CAST(0x0000A3D00077C040 AS DateTime), CAST(0x0000A3D00077C040 AS DateTime), NULL, NULL, CAST(0x0000A3D0008A2F10 AS DateTime), CAST(0x0000A3D0008A2F10 AS DateTime), 0, 4, CAST(60.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Orders] ([UserId], [EstimatedPickupTime], [ActualPickUpTime], [FeedbackOnTime], [GeneralFeedback], [DateCreated], [DateUpdated], [Status], [OrderID], [Total], [PaymentOptionID], [DeliveryMethodID]) VALUES (1034, CAST(0x0000A3D10105BFD0 AS DateTime), CAST(0x0000A3D10105BFD0 AS DateTime), NULL, NULL, CAST(0x0000A3D10105D9D1 AS DateTime), CAST(0x0000A3D10105D9D1 AS DateTime), 0, 5, CAST(60.00 AS Decimal(18, 2)), 1, 2)
SET IDENTITY_INSERT [dbo].[Orders] OFF
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[UserSettingsID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActivityTypeID] [int] NOT NULL,
	[PrivacySettingsID] [int] NOT NULL,
	[ReceiveEmailNotification] [int] NOT NULL,
	[ReceiveMobileTextNotification] [int] NOT NULL,
	[NotificationFrequencyID] [int] NOT NULL,
	[Verified] [int] NULL,
	[VerificationDate] [datetime] NULL,
 CONSTRAINT [PK_UserSettings] PRIMARY KEY CLUSTERED 
(
	[UserSettingsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserSettings] ON
INSERT [dbo].[UserSettings] ([UserSettingsID], [UserID], [ActivityTypeID], [PrivacySettingsID], [ReceiveEmailNotification], [ReceiveMobileTextNotification], [NotificationFrequencyID], [Verified], [VerificationDate]) VALUES (2, 1029, 1, 0, 0, 0, 3, NULL, NULL)
INSERT [dbo].[UserSettings] ([UserSettingsID], [UserID], [ActivityTypeID], [PrivacySettingsID], [ReceiveEmailNotification], [ReceiveMobileTextNotification], [NotificationFrequencyID], [Verified], [VerificationDate]) VALUES (5, 1029, 2, 2, 0, 1, 2, NULL, NULL)
INSERT [dbo].[UserSettings] ([UserSettingsID], [UserID], [ActivityTypeID], [PrivacySettingsID], [ReceiveEmailNotification], [ReceiveMobileTextNotification], [NotificationFrequencyID], [Verified], [VerificationDate]) VALUES (6, 1029, 3, 3, 1, 0, 3, NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[UserSettings] OFF
/****** Object:  Table [dbo].[LKUPMealType]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPMealType](
	[MealTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [dbo].[name] NULL,
	[Description] [varchar](100) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[CreatedById] [int] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_MealTypeLKUP] PRIMARY KEY CLUSTERED 
(
	[MealTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LKUPMealType] ON
INSERT [dbo].[LKUPMealType] ([MealTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (1, N'Entre', N'Entre', CAST(0x0000A15B00F0F0B8 AS DateTime), NULL, 1, NULL)
INSERT [dbo].[LKUPMealType] ([MealTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (3, N'Dessert', N'desserts', CAST(0x0000A2DE01397143 AS DateTime), NULL, 1, NULL)
INSERT [dbo].[LKUPMealType] ([MealTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (4, N'Drink', N'Drinks', CAST(0x0000A302017D0EF9 AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LKUPMealType] OFF
/****** Object:  Table [dbo].[LKUPKitchenType]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPKitchenType](
	[KitchenTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [dbo].[name] NULL,
	[Description] [varchar](100) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[CreatedById] [int] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_KitchenTypeLKUP] PRIMARY KEY CLUSTERED 
(
	[KitchenTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LKUPKitchenType] ON
INSERT [dbo].[LKUPKitchenType] ([KitchenTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (1, N'Farmers Market', N'Farmers Market', CAST(0x0000A41A006E1FC3 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[LKUPKitchenType] ([KitchenTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (2, N'Student Chef Kitchen', N'Innovative Food coming out of Chef''s Kitchen', CAST(0x0000A41A006E2DD7 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[LKUPKitchenType] ([KitchenTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (3, N'Restuarant Kitchen', N'The only place where you get to sit and eat', CAST(0x0000A41A006E37E5 AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LKUPKitchenType] OFF
/****** Object:  Table [dbo].[LKUPDietType]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPDietType](
	[DietTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [dbo].[name] NULL,
	[Description] [varchar](100) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[CreatedById] [int] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_DietTypeLKUP] PRIMARY KEY CLUSTERED 
(
	[DietTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LKUPDietType] ON
INSERT [dbo].[LKUPDietType] ([DietTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (1, N'Vegan', NULL, CAST(0x0000A3350123FD25 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[LKUPDietType] ([DietTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (2, N'Non-Vegetarian', NULL, CAST(0x0000A33501241655 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[LKUPDietType] ([DietTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (4, N'Vegetarian', NULL, CAST(0x0000A33501251C5A AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LKUPDietType] OFF
/****** Object:  Table [dbo].[LKUPCuisineType]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPCuisineType](
	[CuisineTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [dbo].[name] NULL,
	[Description] [varchar](100) NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[CreatedById] [int] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_CuisineTypeLKUP] PRIMARY KEY CLUSTERED 
(
	[CuisineTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LKUPCuisineType] ON
INSERT [dbo].[LKUPCuisineType] ([CuisineTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (1, N'Indian', N'Indian', CAST(0x0000A15A01071684 AS DateTime), CAST(0x0000A15A01071684 AS DateTime), 1, 1)
INSERT [dbo].[LKUPCuisineType] ([CuisineTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (2, N'Italian', N'Italian', CAST(0x0000A15A0107317E AS DateTime), NULL, 1, NULL)
INSERT [dbo].[LKUPCuisineType] ([CuisineTypeID], [Name], [Description], [DateCreated], [DateUpdated], [CreatedById], [UpdatedById]) VALUES (4, N'Mexican', N'Mexican', NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[LKUPCuisineType] OFF
/****** Object:  Table [dbo].[LKUPCountry]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LKUPCountry](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[Country] [dbo].[name] NOT NULL,
	[Currency] [varchar](100) NOT NULL,
	[CurrencyAbbreviation] [varchar](100) NOT NULL,
	[IdentificationType] [varchar](100) NOT NULL,
	[CountryAbbr] [nvarchar](50) NULL,
 CONSTRAINT [PK_CountryLKUP] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LKUPCountry] ON
INSERT [dbo].[LKUPCountry] ([CountryID], [Country], [Currency], [CurrencyAbbreviation], [IdentificationType], [CountryAbbr]) VALUES (2, N'Afghanistan', N'dollars', N'USD', N'Social Security Numbers', N'AF')
INSERT [dbo].[LKUPCountry] ([CountryID], [Country], [Currency], [CurrencyAbbreviation], [IdentificationType], [CountryAbbr]) VALUES (3, N'Albania', N'dollars', N'USD', N'Social Security Numbers', N'AL')
INSERT [dbo].[LKUPCountry] ([CountryID], [Country], [Currency], [CurrencyAbbreviation], [IdentificationType], [CountryAbbr]) VALUES (4, N'Algeria', N'dollars', N'USD', N'Social Security Numbers', N'DZ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[LKUPCountry] OFF
/****** Object:  Table [dbo].[FunOrderDetails]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FunOrderDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[FeedbackOnQuality] [int] NULL,
	[FeedbackOnPrice] [int] NULL,
	[OrderID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FunOrderDetails] ON
INSERT [dbo].[FunOrderDetails] ([ID], [Quantity], [Price], [Description], [FeedbackOnQuality], [FeedbackOnPrice], [OrderID]) VALUES (1, 3, 10.0000, N'A', NULL, NULL, 1)
INSERT [dbo].[FunOrderDetails] ([ID], [Quantity], [Price], [Description], [FeedbackOnQuality], [FeedbackOnPrice], [OrderID]) VALUES (2, 3, 10.0000, N'B', NULL, NULL, 1)
INSERT [dbo].[FunOrderDetails] ([ID], [Quantity], [Price], [Description], [FeedbackOnQuality], [FeedbackOnPrice], [OrderID]) VALUES (3, 1, 8.0000, N'chicken pasta', NULL, NULL, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[FunOrderDetails] OFF
/****** Object:  Table [search].[ActiveMealAds_old]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [search].[ActiveMealAds_old](
	[MealAdID] [int] IDENTITY(1,1) NOT NULL,
	[MealItemName] [varchar](100) NOT NULL,
	[PickUpTime] [datetime] NOT NULL,
	[MaxOrders] [int] NOT NULL,
	[PlacedOrder] [int] NOT NULL,
	[LastOrderTime] [datetime] NOT NULL,
	[CuisineType] [dbo].[name] NOT NULL,
	[MealType] [dbo].[name] NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Ingredients] [varchar](1000) NOT NULL,
	[Photo] [varchar](200) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Currency] [dbo].[name] NOT NULL,
	[FirstName] [dbo].[name] NOT NULL,
	[LastName] [dbo].[name] NOT NULL,
	[Address1] [varchar](200) NOT NULL,
	[Address2] [varchar](200) NULL,
	[City] [varchar](200) NOT NULL,
	[Province] [varchar](200) NOT NULL,
	[Zip] [varchar](200) NOT NULL,
	[Country] [varchar](200) NOT NULL,
	[Telephone] [varchar](200) NOT NULL,
	[Email] [dbo].[name] NOT NULL,
	[FoodAllergy] [varchar](50) NULL,
	[FoodType] [varchar](50) NOT NULL,
	[Latitude] [decimal](9, 6) NOT NULL,
	[Longitude] [decimal](9, 6) NOT NULL,
	[latlng] [varchar](200) NOT NULL,
	[PriceRange] [varchar](200) NOT NULL,
	[AllInfo] [varchar](max) NOT NULL,
	[ProviderType] [varchar](30) NULL,
	[ProviderName] [varchar](30) NULL,
	[FullAddress] [varchar](100) NULL,
 CONSTRAINT [PK_ActiveMealAds] PRIMARY KEY CLUSTERED 
(
	[MealAdID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [search].[ActiveMealAds_old] ON
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [search].[ActiveMealAds_old] OFF
/****** Object:  Table [search].[ActiveMealAds]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [search].[ActiveMealAds](
	[MealAdID] [int] NOT NULL,
	[MealItemName] [varchar](100) NOT NULL,
	[PickUpTime] [datetime] NOT NULL,
	[MaxOrders] [int] NOT NULL,
	[PlacedOrder] [int] NOT NULL,
	[LastOrderTime] [datetime] NOT NULL,
	[CuisineType] [dbo].[name] NOT NULL,
	[MealType] [dbo].[name] NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Ingredients] [varchar](1000) NOT NULL,
	[Photo] [varchar](200) NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Currency] [dbo].[name] NOT NULL,
	[FirstName] [dbo].[name] NOT NULL,
	[LastName] [dbo].[name] NOT NULL,
	[Address1] [varchar](200) NOT NULL,
	[Address2] [varchar](200) NULL,
	[City] [varchar](200) NOT NULL,
	[Province] [varchar](200) NOT NULL,
	[Zip] [varchar](200) NOT NULL,
	[Country] [varchar](200) NOT NULL,
	[Telephone] [varchar](200) NOT NULL,
	[Email] [dbo].[name] NOT NULL,
	[FoodAllergy] [varchar](50) NULL,
	[FoodType] [varchar](50) NOT NULL,
	[Latitude] [decimal](9, 6) NOT NULL,
	[Longitude] [decimal](9, 6) NOT NULL,
	[latlng] [varchar](200) NOT NULL,
	[PriceRange] [varchar](200) NOT NULL,
	[AllInfo] [varchar](max) NOT NULL,
	[ProviderType] [varchar](30) NULL,
	[ProviderName] [varchar](30) NULL,
	[FullAddress] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AddressList]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AddressList](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Address1] [varchar](200) NOT NULL,
	[Address2] [varchar](200) NULL,
	[City] [varchar](200) NOT NULL,
	[Province] [varchar](200) NOT NULL,
	[Zip] [varchar](200) NOT NULL,
	[Telephone] [varchar](200) NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NULL,
	[CountryID] [int] NOT NULL,
	[IsBillingAddress] [int] NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[latlng] [varchar](200) NULL,
	[IsCurrent] [int] NOT NULL,
 CONSTRAINT [PK_AddressList] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AddressList] ON
INSERT [dbo].[AddressList] ([AddressID], [UserId], [Address1], [Address2], [City], [Province], [Zip], [Telephone], [DateCreated], [DateUpdated], [CountryID], [IsBillingAddress], [Latitude], [Longitude], [latlng], [IsCurrent]) VALUES (7, 1024, N'1774 Casey Court', NULL, N'Mohegan Lake', N'New York', N'10547', N'9148438357', CAST(0x0000A23000EBB9FB AS DateTime), NULL, 219, 0, CAST(41.330215 AS Decimal(9, 6)), CAST(-73.859004 AS Decimal(9, 6)), NULL, 0)
INSERT [dbo].[AddressList] ([AddressID], [UserId], [Address1], [Address2], [City], [Province], [Zip], [Telephone], [DateCreated], [DateUpdated], [CountryID], [IsBillingAddress], [Latitude], [Longitude], [latlng], [IsCurrent]) VALUES (8, 1025, N'1774 Casey Court', NULL, N'Mohegan Lake', N'New York', N'10547', N'9148438357', CAST(0x0000A234017CFC6E AS DateTime), NULL, 219, 0, CAST(41.330215 AS Decimal(9, 6)), CAST(-73.859004 AS Decimal(9, 6)), NULL, 0)
INSERT [dbo].[AddressList] ([AddressID], [UserId], [Address1], [Address2], [City], [Province], [Zip], [Telephone], [DateCreated], [DateUpdated], [CountryID], [IsBillingAddress], [Latitude], [Longitude], [latlng], [IsCurrent]) VALUES (9, 1032, N'2400 w el camino real', NULL, N'mountain view', N'santa clara', N'94040', N'914 843 8357', CAST(0x0000A3A70064C57E AS DateTime), NULL, 219, 0, CAST(37.398858 AS Decimal(9, 6)), CAST(-122.107009 AS Decimal(9, 6)), NULL, 0)
SET IDENTITY_INSERT [dbo].[AddressList] OFF
/****** Object:  Table [dbo].[MealItems]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MealItems](
	[MealItemId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MealItemName] [varchar](100) NOT NULL,
	[Ingredients] [varchar](1000) NOT NULL,
	[ServingUnit] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[CusineTypeID] [int] NOT NULL,
	[MealTypeID] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Description] [varchar](500) NULL,
	[Quantity] [int] NOT NULL,
	[DietTypeID] [int] NULL,
 CONSTRAINT [PK_MealItems] PRIMARY KEY CLUSTERED 
(
	[MealItemId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MealItems] ON
INSERT [dbo].[MealItems] ([MealItemId], [UserId], [MealItemName], [Ingredients], [ServingUnit], [DateCreated], [DateUpdated], [Status], [CusineTypeID], [MealTypeID], [Price], [Description], [Quantity], [DietTypeID]) VALUES (125, 1032, N'kahlua flan', N'kahlua,egg,condensed milk,evaporated milk,vanilla', 1, CAST(0x0000A3A700662DF2 AS DateTime), CAST(0x0000A3A70065B4B8 AS DateTime), 1, 4, 3, CAST(10 AS Decimal(18, 0)), NULL, 10, 4)
INSERT [dbo].[MealItems] ([MealItemId], [UserId], [MealItemName], [Ingredients], [ServingUnit], [DateCreated], [DateUpdated], [Status], [CusineTypeID], [MealTypeID], [Price], [Description], [Quantity], [DietTypeID]) VALUES (126, 1034, N'Food Name', N'Tomato', 1, CAST(0x0000A3F5010C9661 AS DateTime), CAST(0x0000A3F5010C668C AS DateTime), 1, 2, 1, CAST(10 AS Decimal(18, 0)), NULL, 2, 1)
INSERT [dbo].[MealItems] ([MealItemId], [UserId], [MealItemName], [Ingredients], [ServingUnit], [DateCreated], [DateUpdated], [Status], [CusineTypeID], [MealTypeID], [Price], [Description], [Quantity], [DietTypeID]) VALUES (127, 1034, N'Pizza', N'Cheese', 1, CAST(0x0000A3F5010CF5A5 AS DateTime), CAST(0x0000A3F5010CBAEC AS DateTime), 1, 1, 1, CAST(10 AS Decimal(18, 0)), NULL, 12, 1)
SET IDENTITY_INSERT [dbo].[MealItems] OFF
/****** Object:  StoredProcedure [search].[UpdateAllInfo]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [search].[UpdateAllInfo]
as

begin

update [search].[ActiveMealAds]

set AllInfo=[MealItemName] + ',' +
[CuisineType] + ',' + [MealType]  + ',' +[Description]
 + ',' +[Ingredients]  + ',' +[FirstName]  + ',' +[LastName] + ',' +
[Address1]  + ',' + coalesce([Address2],'')  + ',' +[City]
 + ',' +[Province] + ',' +[Zip] + ',' +[Country] + ',' +[Telephone]  + ',' +[Email]
  + ',' +coalesce([FoodAllergy] ,'') + ',' +[FoodType]  
  
  end
GO
/****** Object:  StoredProcedure [dbo].[updateActiveMealAdPublistdates]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[updateActiveMealAdPublistdates]
as
begin

declare @noofdays int
select @noofdays=(select top 1 datediff(D,PickUpTime,getdate()) from search.ActiveMealAds order by PickUpTime)

update search.ActiveMealAds
--set PickUpTime=DATEADD(D,@noofdays+3,PickUpTime)
set PickUpTime=GETDATE(),--DATEADD(D,-1,getdate()),
FullAddress=Coalesce(Address1,'') + ',' + Coalesce(Address2,'')+ ',' + Coalesce(City,'') + ',' + Coalesce(Province,'') + ','  + Coalesce(Zip,'') + ',' + Coalesce(Country,'')

select * from search.ActiveMealAds




end
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UserId] [int] NOT NULL,
	[FirstName] [dbo].[name] NOT NULL,
	[LastName] [dbo].[name] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NULL,
	[UserStatus] [int] NOT NULL,
	[Notes] [varchar](max) NULL,
	[Photo] [varchar](500) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[AllInfo] [varchar](max) NULL,
	[AddressID] [int] NOT NULL,
	[GoogleCheckoutID] [int] NULL,
	[PayPalID] [int] NULL,
	[AmazonPayID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[UserDetails] ADD [SkypeID] [varchar](20) NULL
ALTER TABLE [dbo].[UserDetails] ADD [Mobile] [varchar](20) NULL
ALTER TABLE [dbo].[UserDetails] ADD [IdentificationNumber] [nvarchar](100) NULL
ALTER TABLE [dbo].[UserDetails] ADD [PassportNumber] [nvarchar](100) NULL
ALTER TABLE [dbo].[UserDetails] ADD [CountryOfIssuance] [nvarchar](100) NULL
ALTER TABLE [dbo].[UserDetails] ADD [IsSeller] [int] NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[UserDetails] ADD [KitchenName] [varchar](56) NULL
ALTER TABLE [dbo].[UserDetails] ADD [KitchenTypeID] [int] NULL
ALTER TABLE [dbo].[UserDetails] ADD [SellersTermsAndConditionAccepted] [int] NOT NULL
ALTER TABLE [dbo].[UserDetails] ADD  CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[UserDetails] ([UserId], [FirstName], [LastName], [DateCreated], [DateUpdated], [UserStatus], [Notes], [Photo], [CreatedBy], [UpdatedBy], [AllInfo], [AddressID], [GoogleCheckoutID], [PayPalID], [AmazonPayID], [SkypeID], [Mobile], [IdentificationNumber], [PassportNumber], [CountryOfIssuance], [IsSeller], [KitchenName], [KitchenTypeID], [SellersTermsAndConditionAccepted]) VALUES (0, N'iuou', N'uio', CAST(0x0000A4150066E001 AS DateTime), NULL, 0, NULL, NULL, 1071, 1071, NULL, 17, NULL, NULL, NULL, N'uio', N'uiou', NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[UserDetails] ([UserId], [FirstName], [LastName], [DateCreated], [DateUpdated], [UserStatus], [Notes], [Photo], [CreatedBy], [UpdatedBy], [AllInfo], [AddressID], [GoogleCheckoutID], [PayPalID], [AmazonPayID], [SkypeID], [Mobile], [IdentificationNumber], [PassportNumber], [CountryOfIssuance], [IsSeller], [KitchenName], [KitchenTypeID], [SellersTermsAndConditionAccepted]) VALUES (1032, N'Kanja', N'Saha', CAST(0x0000A3FB01164648 AS DateTime), NULL, 1, NULL, NULL, NULL, NULL, NULL, 12, NULL, NULL, NULL, N'kart@id.com', N'6502825616', N'234', N'2423', NULL, NULL, NULL, NULL, 0)
/****** Object:  Table [dbo].[MealItems_Photos]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MealItems_Photos](
	[MealItemPhotoID] [int] IDENTITY(1,1) NOT NULL,
	[MealItemID] [int] NOT NULL,
	[Photo] [varchar](300) NOT NULL,
	[IsCover] [int] NOT NULL,
 CONSTRAINT [PK_MealItems_Photos] PRIMARY KEY CLUSTERED 
(
	[MealItemPhotoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MealItems_Photos] ON
INSERT [dbo].[MealItems_Photos] ([MealItemPhotoID], [MealItemID], [Photo], [IsCover]) VALUES (19, 125, N'C:\inetpub\wwwroot\mealstogo\MealPhotos\107725qnzfxy-download.jpg', 1)
INSERT [dbo].[MealItems_Photos] ([MealItemPhotoID], [MealItemID], [Photo], [IsCover]) VALUES (20, 125, N'C:\inetpub\wwwroot\mealstogo\MealPhotos\107725qnzfxy-download.jpg', 1)
INSERT [dbo].[MealItems_Photos] ([MealItemPhotoID], [MealItemID], [Photo], [IsCover]) VALUES (21, 145, N'C:\MealsToGoStaging\MealPhotos\1100tuqxn0sz-Profilephoto1025.jpg', 0)
SET IDENTITY_INSERT [dbo].[MealItems_Photos] OFF
/****** Object:  Table [dbo].[MealItems_AllergenicFoods]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealItems_AllergenicFoods](
	[AllergenicFoodID] [int] NOT NULL,
	[MealItemID] [int] NOT NULL,
	[MealItem_AllergenID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MealItems_AllergenicFoods] PRIMARY KEY CLUSTERED 
(
	[MealItem_AllergenID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MealItems_AllergenicFoods] ON
INSERT [dbo].[MealItems_AllergenicFoods] ([AllergenicFoodID], [MealItemID], [MealItem_AllergenID]) VALUES (1, 125, 203)
INSERT [dbo].[MealItems_AllergenicFoods] ([AllergenicFoodID], [MealItemID], [MealItem_AllergenID]) VALUES (2, 125, 204)
INSERT [dbo].[MealItems_AllergenicFoods] ([AllergenicFoodID], [MealItemID], [MealItem_AllergenID]) VALUES (1, 125, 205)
SET IDENTITY_INSERT [dbo].[MealItems_AllergenicFoods] OFF
/****** Object:  Table [dbo].[MealAds]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealAds](
	[MealAdID] [int] IDENTITY(1,1) NOT NULL,
	[MealItemID] [int] NOT NULL,
	[MaxOrders] [int] NOT NULL,
	[PlacedOrder] [int] NOT NULL,
	[AvailabilityTypeID] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_MealAds] PRIMARY KEY CLUSTERED 
(
	[MealAdID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MealAds] ON
INSERT [dbo].[MealAds] ([MealAdID], [MealItemID], [MaxOrders], [PlacedOrder], [AvailabilityTypeID], [Status]) VALUES (112, 149, 9, 0, 4, 1)
INSERT [dbo].[MealAds] ([MealAdID], [MealItemID], [MaxOrders], [PlacedOrder], [AvailabilityTypeID], [Status]) VALUES (122, 149, 10, 0, 4, 1)
INSERT [dbo].[MealAds] ([MealAdID], [MealItemID], [MaxOrders], [PlacedOrder], [AvailabilityTypeID], [Status]) VALUES (123, 149, 10, 0, 4, 1)
SET IDENTITY_INSERT [dbo].[MealAds] OFF
/****** Object:  Table [dbo].[MealAd_Schedules]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealAd_Schedules](
	[MealAdScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[MealAdID] [int] NOT NULL,
	[PickUpStartDateTime] [datetime] NOT NULL,
	[PickUpEndDateTime] [datetime] NOT NULL,
	[LastOrderDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_MealAd_Schedules] PRIMARY KEY CLUSTERED 
(
	[MealAdScheduleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MealAd_Schedules] ON
INSERT [dbo].[MealAd_Schedules] ([MealAdScheduleID], [MealAdID], [PickUpStartDateTime], [PickUpEndDateTime], [LastOrderDateTime]) VALUES (1, 112, CAST(0x0000A42800A21944 AS DateTime), CAST(0x0000A42800A21944 AS DateTime), CAST(0x0000A42800A22FBF AS DateTime))
INSERT [dbo].[MealAd_Schedules] ([MealAdScheduleID], [MealAdID], [PickUpStartDateTime], [PickUpEndDateTime], [LastOrderDateTime]) VALUES (2, 112, CAST(0x0000A42800A21944 AS DateTime), CAST(0x0000A42800A21944 AS DateTime), CAST(0x0000A4270167DA44 AS DateTime))
INSERT [dbo].[MealAd_Schedules] ([MealAdScheduleID], [MealAdID], [PickUpStartDateTime], [PickUpEndDateTime], [LastOrderDateTime]) VALUES (23, 122, CAST(0x0000A42A000B2A34 AS DateTime), CAST(0x0000A42A000B2A34 AS DateTime), CAST(0x0000A42A000B4122 AS DateTime))
SET IDENTITY_INSERT [dbo].[MealAd_Schedules] OFF
/****** Object:  Table [ecom].[GoogleCheckOut]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecom].[GoogleCheckOut](
	[UserID] [int] NOT NULL,
	[MerchantID] [int] NOT NULL,
 CONSTRAINT [PK_GoogleCheckOut] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ecom].[AmazonPay]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecom].[AmazonPay](
	[UserID] [int] NOT NULL,
	[MerchantID] [int] NOT NULL,
 CONSTRAINT [PK_AmazonPay] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cart](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [varchar](50) NOT NULL,
	[MealAdID] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON
INSERT [dbo].[Cart] ([RecordID], [CartID], [MealAdID], [Count], [DateCreated]) VALUES (1, N'1072', 112, 4, CAST(0x0000A439012E5548 AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
/****** Object:  Table [ecom].[PayPal]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ecom].[PayPal](
	[UserID] [int] NOT NULL,
	[MerchantID] [int] NOT NULL,
 CONSTRAINT [PK_PayPal] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealAds_PaymentOptions]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealAds_PaymentOptions](
	[PaymentOptionID] [int] NOT NULL,
	[MealAdID] [int] NOT NULL,
	[MealAdPaymentOptionID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MealAds_PaymentOptions] PRIMARY KEY CLUSTERED 
(
	[MealAdPaymentOptionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MealAds_PaymentOptions] ON
INSERT [dbo].[MealAds_PaymentOptions] ([PaymentOptionID], [MealAdID], [MealAdPaymentOptionID]) VALUES (1, 122, 1)
INSERT [dbo].[MealAds_PaymentOptions] ([PaymentOptionID], [MealAdID], [MealAdPaymentOptionID]) VALUES (1, 122, 2)
INSERT [dbo].[MealAds_PaymentOptions] ([PaymentOptionID], [MealAdID], [MealAdPaymentOptionID]) VALUES (1, 123, 3)
SET IDENTITY_INSERT [dbo].[MealAds_PaymentOptions] OFF
/****** Object:  Table [dbo].[MealAds_DeliveryMethods]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealAds_DeliveryMethods](
	[MealAd_DeliveryMethodID] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryMethodID] [int] NOT NULL,
	[MealAdID] [int] NOT NULL,
 CONSTRAINT [PK_MealAds_DeliveryMethods] PRIMARY KEY CLUSTERED 
(
	[MealAd_DeliveryMethodID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MealAds_DeliveryMethods] ON
INSERT [dbo].[MealAds_DeliveryMethods] ([MealAd_DeliveryMethodID], [DeliveryMethodID], [MealAdID]) VALUES (15, 2, 147)
INSERT [dbo].[MealAds_DeliveryMethods] ([MealAd_DeliveryMethodID], [DeliveryMethodID], [MealAdID]) VALUES (16, 2, 147)
INSERT [dbo].[MealAds_DeliveryMethods] ([MealAd_DeliveryMethodID], [DeliveryMethodID], [MealAdID]) VALUES (17, 2, 148)
SET IDENTITY_INSERT [dbo].[MealAds_DeliveryMethods] OFF
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 03/02/2015 07:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[MealAdID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[FeedbackOnQuality] [int] NULL,
	[FeedbackOnPrice] [int] NULL,
	[OrderID] [int] NOT NULL,
 CONSTRAINT [PK_MealOrderDetails] PRIMARY KEY CLUSTERED 
(
	[MealAdID] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetFoodAllergenic]    Script Date: 03/02/2015 07:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[ufn_GetFoodAllergenic](  @mealItemId int)

RETURNS varchar(200)
AS
BEGIN
	return (SELECT  ( SELECT f.AllergenicFood+ ','

           FROM dbo.MealItems_AllergenicFoods mf
           left join dbo.LKUPAllergenicFood f
            on f.AllergenicFoodID =mf.AllergenicFoodID
            

          WHERE mf.MealItemID= p1.MealItemID and mf.MealItemID=1

          ORDER BY AllergenicFood

            FOR XML PATH('') ) AS Products

      FROM MealItems_AllergenicFoods p1 where p1.MealItemID=1

      GROUP BY MealItemID)

END
GO
/****** Object:  StoredProcedure [dbo].[test]    Script Date: 03/02/2015 07:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[test]

as

begin

select * from UserDetails

end
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteUser]    Script Date: 03/02/2015 07:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec  [dbo].[usp_DeleteUser] 'kanjasaha@gmail.com'
CREATE procedure [dbo].[usp_DeleteUser]
 @email varchar(250)
 as
begin
declare @userid int
Select @userid=userid
from dbo.UserProfile
Where UserName=@email

delete from [ContactList]
where UserID=@userid


delete dbo.MealAds_DeliveryMethods
where MealAdID in (select MealAdID from MealAds
where mealitemid in (select MealItemID from MealItems
where UserId = @userid))


delete dbo.MealAds
where mealitemid in (select MealItemID from MealItems
where UserId = @userid)


delete dbo.MealItems_Photos
where  mealitemid in (select MealItemID from MealItems
where UserId = @userid)


delete dbo.MealItems_AllergenicFoods
where  mealitemid in (select MealItemID from MealItems
where UserId = @userid)

delete MealItems 
where UserId = @userid

delete [UserDetails]
where USERID = @userid

delete dbo.UserProfile
Where UserName=@email

end
GO
/****** Object:  StoredProcedure [dbo].[PopulateActiveMealAd]    Script Date: 03/02/2015 07:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [dbo].[PopulateActiveMealAd] 124,'C'

CREATE procedure [dbo].[PopulateActiveMealAd]
@MealAdID Int,
@CRUD char(1)
as
begin


--if @CRUD ='D' 
--delete from [search].[ActiveMealAds] where MealAdID=@MealAdID

--if @CRUD ='U' 
--delete from [search].[ActiveMealAds] where MealAdID=@MealAdID


if @CRUD ='C' 
begin tran
INSERT INTO [search].[ActiveMealAds]
           ([MealAdID],[MealItemName],[PickUpTime],[MaxOrders],[PlacedOrder],[LastOrderTime],[CuisineType],[MealType]
           ,[Description],[Ingredients],Photo,[Quantity],[Price],[Currency],[FirstName],[LastName]
		   ,[Address1],[Address2],[City],[Province],[Zip],[Country],[Telephone],[Email],[FoodAllergy],[FoodType]
           ,[Latitude],[Longitude],[latlng],[PriceRange],[AllInfo])

SELECT 
i.[MealAdID],[MealItemName],PickUpStartDateTime,[MaxOrders],[PlacedOrder],LastOrderDateTime,cui.Name as CuisineType, mt.Name as [MealType]
           ,coalesce(m.[Description],''),[Ingredients],mp.[Photo] ,[Quantity],[Price],coun.[Currency],u.FirstName,[LastName]
		   ,[Address1],[Address2],[City],[Province],[Zip],[Country],[Telephone],up.UserName as [Email],dbo.ufn_GetFoodAllergenic(i.mealItemId),diet.Name
           ,[Latitude],[Longitude],cast([Latitude] as varchar)+','+cast([Longitude] as varchar) as [latlng],[Price] as [PriceRange], 
		   [MealItemName] + ',' +cui.Name+',' +[Ingredients]  as [AllInfo]
		 
  FROM MealAds i
  join MealItems m
  on i.MealItemID=m.mealItemId and i.MealAdID=@MealAdID
  join UserDetails u
  on m.userid=u.userid
  join LKUPCuisineType cui
  on cui.CuisineTypeID =m.CusineTypeID
  join LKUPDietType diet
  on diet.DietTypeID =m.DietTypeID
  join LKUPMealType mt
  on m.MealTypeID=mt.MealTypeID
  join AddressList al
  on u.AddressID = al.AddressID
  join LKUPCountry coun
  on al.CountryID=coun.CountryID
  join UserProfile up
  on up.UserId=m.UserId
  join MealAd_Schedules mealad
  on i.MealAdID = mealad.MealAdID
  left join [dbo].[MealItems_Photos] mp
  on m.MealItemId=mp.MealItemID and IsCover=1
 
 /*
  left join [dbo].[MealItems_AllergenicFoods] maf
  on i.MealItemID = maf.MealItemID
  left join [dbo].[LKUPAllergenicFood] allergen
  on maf.AllergenicFoodID = allergen.AllergenicFoodID
 
 
 */
  
  commit tran

  


END
GO
/****** Object:  Default [DF_ContactList_RequestAccepted]    Script Date: 03/02/2015 07:05:53 ******/
ALTER TABLE [dbo].[ContactList] ADD  CONSTRAINT [DF_ContactList_RequestAccepted]  DEFAULT ((0)) FOR [RequestAccepted]
GO
/****** Object:  Default [DF__webpages___IsCon__656C112C]    Script Date: 03/02/2015 07:05:53 ******/
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
/****** Object:  Default [DF__webpages___Passw__66603565]    Script Date: 03/02/2015 07:05:53 ******/
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
/****** Object:  Default [DF_UserAgreementsAcceptanceDetails_AgreementAccepetedOn]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserAgreementsAcceptanceDetails] ADD  CONSTRAINT [DF_UserAgreementsAcceptanceDetails_AgreementAccepetedOn]  DEFAULT (getdate()) FOR [AgreementAccepetedOn]
GO
/****** Object:  Default [DF_UserAgreements_DateOfAgreement]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserAgreements] ADD  CONSTRAINT [DF_UserAgreements_DateOfAgreement]  DEFAULT (getdate()) FOR [DateOfAgreement]
GO
/****** Object:  Default [DF_UserSettings_VerificationDate]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserSettings] ADD  CONSTRAINT [DF_UserSettings_VerificationDate]  DEFAULT (getdate()) FOR [VerificationDate]
GO
/****** Object:  Default [DF_LKUPMealType_DateCreated]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[LKUPMealType] ADD  CONSTRAINT [DF_LKUPMealType_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
/****** Object:  Default [DF_LKUPKitchenType_DateCreated]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[LKUPKitchenType] ADD  CONSTRAINT [DF_LKUPKitchenType_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
/****** Object:  Default [DF_LKUPDietType_DateCreated]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[LKUPDietType] ADD  CONSTRAINT [DF_LKUPDietType_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
/****** Object:  Default [DF_UserAddressList_DateCreated]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[AddressList] ADD  CONSTRAINT [DF_UserAddressList_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
/****** Object:  Default [DF_UserInfo_DateCreated]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserDetails] ADD  CONSTRAINT [DF_UserInfo_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
/****** Object:  Default [DF_UserInfo_UserStatus]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserDetails] ADD  CONSTRAINT [DF_UserInfo_UserStatus]  DEFAULT ((1)) FOR [UserStatus]
GO
/****** Object:  Default [DF__UserDetai__Selle__32AB8735]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserDetails] ADD  DEFAULT ((0)) FOR [SellersTermsAndConditionAccepted]
GO
/****** Object:  Default [DF_MealAds_PlacedOrder]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealAds] ADD  CONSTRAINT [DF_MealAds_PlacedOrder]  DEFAULT ((0)) FOR [PlacedOrder]
GO
/****** Object:  ForeignKey [fk_RoleId]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
/****** Object:  ForeignKey [fk_UserId]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
/****** Object:  ForeignKey [FK_UserSettings_LKUPActivityType]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [FK_UserSettings_LKUPActivityType] FOREIGN KEY([ActivityTypeID])
REFERENCES [dbo].[LKUPActivityType] ([ActivityTypeLKUPID])
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [FK_UserSettings_LKUPActivityType]
GO
/****** Object:  ForeignKey [FK_UserSettings_LKUPPrivacySettings]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [FK_UserSettings_LKUPPrivacySettings] FOREIGN KEY([PrivacySettingsID])
REFERENCES [dbo].[LKUPPrivacySettings] ([PrivacySettingsID])
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [FK_UserSettings_LKUPPrivacySettings]
GO
/****** Object:  ForeignKey [FK_UserSettings_NotificationFrequency]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD  CONSTRAINT [FK_UserSettings_NotificationFrequency] FOREIGN KEY([NotificationFrequencyID])
REFERENCES [dbo].[NotificationFrequency] ([NotificationFrequencyID])
GO
ALTER TABLE [dbo].[UserSettings] CHECK CONSTRAINT [FK_UserSettings_NotificationFrequency]
GO
/****** Object:  ForeignKey [FK_FunOrderDetails_FunOrders]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[FunOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_FunOrderDetails_FunOrders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[FunOrders] ([OrderID])
GO
ALTER TABLE [dbo].[FunOrderDetails] CHECK CONSTRAINT [FK_FunOrderDetails_FunOrders]
GO
/****** Object:  ForeignKey [FK_UserAddressList_CountryLKUP]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[AddressList]  WITH CHECK ADD  CONSTRAINT [FK_UserAddressList_CountryLKUP] FOREIGN KEY([CountryID])
REFERENCES [dbo].[LKUPCountry] ([CountryID])
GO
ALTER TABLE [dbo].[AddressList] CHECK CONSTRAINT [FK_UserAddressList_CountryLKUP]
GO
/****** Object:  ForeignKey [FK_MealItems_CuisineTypeLKUP]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealItems]  WITH CHECK ADD  CONSTRAINT [FK_MealItems_CuisineTypeLKUP] FOREIGN KEY([CusineTypeID])
REFERENCES [dbo].[LKUPCuisineType] ([CuisineTypeID])
GO
ALTER TABLE [dbo].[MealItems] CHECK CONSTRAINT [FK_MealItems_CuisineTypeLKUP]
GO
/****** Object:  ForeignKey [FK_MealItems_LKUPDietType]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealItems]  WITH CHECK ADD  CONSTRAINT [FK_MealItems_LKUPDietType] FOREIGN KEY([DietTypeID])
REFERENCES [dbo].[LKUPDietType] ([DietTypeID])
GO
ALTER TABLE [dbo].[MealItems] CHECK CONSTRAINT [FK_MealItems_LKUPDietType]
GO
/****** Object:  ForeignKey [FK_MealItems_LKUPServingUnit]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealItems]  WITH CHECK ADD  CONSTRAINT [FK_MealItems_LKUPServingUnit] FOREIGN KEY([ServingUnit])
REFERENCES [dbo].[LKUPServingUnit] ([ServingUnitID])
GO
ALTER TABLE [dbo].[MealItems] CHECK CONSTRAINT [FK_MealItems_LKUPServingUnit]
GO
/****** Object:  ForeignKey [FK_MealItems_MealTypeLKUP]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealItems]  WITH CHECK ADD  CONSTRAINT [FK_MealItems_MealTypeLKUP] FOREIGN KEY([MealTypeID])
REFERENCES [dbo].[LKUPMealType] ([MealTypeID])
GO
ALTER TABLE [dbo].[MealItems] CHECK CONSTRAINT [FK_MealItems_MealTypeLKUP]
GO
/****** Object:  ForeignKey [FK_UserDetails_AddressList]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_AddressList] FOREIGN KEY([AddressID])
REFERENCES [dbo].[AddressList] ([AddressID])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_AddressList]
GO
/****** Object:  ForeignKey [FK_UserDetails_AddressList1]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_AddressList1] FOREIGN KEY([AddressID])
REFERENCES [dbo].[AddressList] ([AddressID])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_AddressList1]
GO
/****** Object:  ForeignKey [FK_UserDetails_KitchenType]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_KitchenType] FOREIGN KEY([KitchenTypeID])
REFERENCES [dbo].[LKUPKitchenType] ([KitchenTypeID])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_KitchenType]
GO
/****** Object:  ForeignKey [FK_MealItems_Photos_MealItems]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealItems_Photos]  WITH CHECK ADD  CONSTRAINT [FK_MealItems_Photos_MealItems] FOREIGN KEY([MealItemID])
REFERENCES [dbo].[MealItems] ([MealItemId])
GO
ALTER TABLE [dbo].[MealItems_Photos] CHECK CONSTRAINT [FK_MealItems_Photos_MealItems]
GO
/****** Object:  ForeignKey [FK_MealItems_AllergenicFoods_LKUPAllergenicFood]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealItems_AllergenicFoods]  WITH CHECK ADD  CONSTRAINT [FK_MealItems_AllergenicFoods_LKUPAllergenicFood] FOREIGN KEY([AllergenicFoodID])
REFERENCES [dbo].[LKUPAllergenicFood] ([AllergenicFoodID])
GO
ALTER TABLE [dbo].[MealItems_AllergenicFoods] CHECK CONSTRAINT [FK_MealItems_AllergenicFoods_LKUPAllergenicFood]
GO
/****** Object:  ForeignKey [FK_MealItems_AllergenicFoods_MealItems]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealItems_AllergenicFoods]  WITH CHECK ADD  CONSTRAINT [FK_MealItems_AllergenicFoods_MealItems] FOREIGN KEY([MealItemID])
REFERENCES [dbo].[MealItems] ([MealItemId])
GO
ALTER TABLE [dbo].[MealItems_AllergenicFoods] CHECK CONSTRAINT [FK_MealItems_AllergenicFoods_MealItems]
GO
/****** Object:  ForeignKey [FK_MealAds_AvailabilityTypes]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealAds]  WITH CHECK ADD  CONSTRAINT [FK_MealAds_AvailabilityTypes] FOREIGN KEY([AvailabilityTypeID])
REFERENCES [dbo].[AvailabilityTypes] ([AvaiilabilityTypeID])
GO
ALTER TABLE [dbo].[MealAds] CHECK CONSTRAINT [FK_MealAds_AvailabilityTypes]
GO
/****** Object:  ForeignKey [FK_MealAds_MealItems]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealAds]  WITH CHECK ADD  CONSTRAINT [FK_MealAds_MealItems] FOREIGN KEY([MealItemID])
REFERENCES [dbo].[MealItems] ([MealItemId])
GO
ALTER TABLE [dbo].[MealAds] CHECK CONSTRAINT [FK_MealAds_MealItems]
GO
/****** Object:  ForeignKey [FK_MealAds_MealItems1]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealAds]  WITH CHECK ADD  CONSTRAINT [FK_MealAds_MealItems1] FOREIGN KEY([MealItemID])
REFERENCES [dbo].[MealItems] ([MealItemId])
GO
ALTER TABLE [dbo].[MealAds] CHECK CONSTRAINT [FK_MealAds_MealItems1]
GO
/****** Object:  ForeignKey [FK_MealAd_Schedules_MealAds]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealAd_Schedules]  WITH CHECK ADD  CONSTRAINT [FK_MealAd_Schedules_MealAds] FOREIGN KEY([MealAdID])
REFERENCES [dbo].[MealAds] ([MealAdID])
GO
ALTER TABLE [dbo].[MealAd_Schedules] CHECK CONSTRAINT [FK_MealAd_Schedules_MealAds]
GO
/****** Object:  ForeignKey [FK_GoogleCheckOut_UserDetails]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [ecom].[GoogleCheckOut]  WITH CHECK ADD  CONSTRAINT [FK_GoogleCheckOut_UserDetails] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserDetails] ([UserId])
GO
ALTER TABLE [ecom].[GoogleCheckOut] CHECK CONSTRAINT [FK_GoogleCheckOut_UserDetails]
GO
/****** Object:  ForeignKey [FK_AmazonPay_UserDetails]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [ecom].[AmazonPay]  WITH CHECK ADD  CONSTRAINT [FK_AmazonPay_UserDetails] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserDetails] ([UserId])
GO
ALTER TABLE [ecom].[AmazonPay] CHECK CONSTRAINT [FK_AmazonPay_UserDetails]
GO
/****** Object:  ForeignKey [FK_Cart_MealAds]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_MealAds] FOREIGN KEY([MealAdID])
REFERENCES [dbo].[MealAds] ([MealAdID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_MealAds]
GO
/****** Object:  ForeignKey [FK_PayPal_UserDetails]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [ecom].[PayPal]  WITH CHECK ADD  CONSTRAINT [FK_PayPal_UserDetails] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserDetails] ([UserId])
GO
ALTER TABLE [ecom].[PayPal] CHECK CONSTRAINT [FK_PayPal_UserDetails]
GO
/****** Object:  ForeignKey [FK_MealAds_PaymentOptions_MealAds]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealAds_PaymentOptions]  WITH CHECK ADD  CONSTRAINT [FK_MealAds_PaymentOptions_MealAds] FOREIGN KEY([MealAdID])
REFERENCES [dbo].[MealAds] ([MealAdID])
GO
ALTER TABLE [dbo].[MealAds_PaymentOptions] CHECK CONSTRAINT [FK_MealAds_PaymentOptions_MealAds]
GO
/****** Object:  ForeignKey [FK_MealAds_PaymentOptions_PaymentOptions]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealAds_PaymentOptions]  WITH CHECK ADD  CONSTRAINT [FK_MealAds_PaymentOptions_PaymentOptions] FOREIGN KEY([PaymentOptionID])
REFERENCES [dbo].[PaymentOptions] ([PaymentOptionID])
GO
ALTER TABLE [dbo].[MealAds_PaymentOptions] CHECK CONSTRAINT [FK_MealAds_PaymentOptions_PaymentOptions]
GO
/****** Object:  ForeignKey [FK_MealAds_DeliveryMethods_LKUPDeliveryMethod]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealAds_DeliveryMethods]  WITH CHECK ADD  CONSTRAINT [FK_MealAds_DeliveryMethods_LKUPDeliveryMethod] FOREIGN KEY([DeliveryMethodID])
REFERENCES [dbo].[LKUPDeliveryMethod] ([DeliveryMethodID])
GO
ALTER TABLE [dbo].[MealAds_DeliveryMethods] CHECK CONSTRAINT [FK_MealAds_DeliveryMethods_LKUPDeliveryMethod]
GO
/****** Object:  ForeignKey [FK_MealAds_DeliveryMethods_MealAds]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[MealAds_DeliveryMethods]  WITH CHECK ADD  CONSTRAINT [FK_MealAds_DeliveryMethods_MealAds] FOREIGN KEY([MealAdID])
REFERENCES [dbo].[MealAds] ([MealAdID])
GO
ALTER TABLE [dbo].[MealAds_DeliveryMethods] CHECK CONSTRAINT [FK_MealAds_DeliveryMethods_MealAds]
GO
/****** Object:  ForeignKey [FK_MealOrderDetails_MealOrders]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_MealOrderDetails_MealOrders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_MealOrderDetails_MealOrders]
GO
/****** Object:  ForeignKey [FK_OrderDetails_MealAds]    Script Date: 03/02/2015 07:05:55 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_MealAds] FOREIGN KEY([MealAdID])
REFERENCES [dbo].[MealAds] ([MealAdID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_MealAds]
GO
