@model MealsToGo.ViewModels.MealItemViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create1</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
